<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbank.yung.dao.WhitelistMapper">
	<resultMap type="whitelist" id="result">
		<result property="UMS_VAL" column="UMS_VAL" />
		<result property="CUST_INFO" column="CUST_INFO" />
		<result property="CREATED_AT" column="CREATED_AT" />
	</resultMap>
	
	<select id="getAllWhiteMembers" resultType="whitelist" resultMap="result">
		SELECT * FROM tb_cust_white_list ORDER BY CREATED_AT DESC, CUST_INFO ASC, UMS_VAL ASC;
	</select>
	
	<insert id="insertWhiteMember" parameterType="whitelist">
		INSERT INTO tb_cust_white_list (UMS_VAL, CUST_INFO)
		VALUES (#{UMS_VAL}, #{CUST_INFO});
	</insert>
	
	<delete id="deleteWhiteMember" parameterType="whitelist">
		DELETE FROM tb_cust_white_list WHERE CUST_INFO = #{CUST_INFO} AND UMS_VAL = #{UMS_VAL};
	</delete>
</mapper>